/* Reset Styles */

*{
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}

img{
    max-width: 100%;
}
/* Common Styles */
.common-btn{
    background-color: #FD6E0A;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}

.outline-btn{
    background-color: white;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* Navbar Styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    font-size: 30px;
    font-weight: bold;
}
.logo-r{
    color:#FD6E0A;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
    align-items: center;
}

ul li a{
    text-decoration: none;
    color: #474747;
    
}

/* Navbar Styles End */

/* Hero Section Style */
.hero-parent-root{
    background-color: #fff8f3;
}

.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hi-iam{
    font-size: 45px;
    font-weight:  400;
    color: #474747;
}
.hero-left h2{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}

.hero-description{
    font-size: 17px;
    color: #474747;
    margin-top: 20px;
    
}

.hero-left-btn-parent{
    margin-top: 30px;
}

/* About me Container */
.about-me-container{
    background-color: #fff8f3;
    max-width: 1140px;
    height: 550px;
    margin: 130px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-me-text h3 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}

.about-me-text p{
    font-size: 17px;
    color: ##757575;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
}


.about-me-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 50px;
}

.about-me-info-label{
    font-size: 20px;
    color: #757575;
}

.about-me-info-value{
    font-size: 17px;
    color: #474747;
    font-weight: bold;
}